.character-links {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.character-list {
	padding-left: 25%;
	padding-right: 25%;
	width: 50%;
	display: flex;
	justify-content: center;
}